<article class="blog-post">
    <h2 class="display-5 link-body-emphasis mb-4">Explore the World of Demon Slayer Anime</h2>

    <p>Welcome to the Demon Slayer API, your gateway to the captivating world of Demon Slayer: Kimetsu no Yaiba. Dive into the rich lore, characters, and adventures of this beloved anime series through our comprehensive API.</p>
    <hr>
    
    <h2>Base Endpoint</h2>
    <p>The ------------ endpoint allows users to retrieve information about the Hashira (Pillars) of the Demon Slayer Corps.</p>
    <pre><code>
                                       GET /---------a
        </code></pre>
        
        <h3>Parameters</h3>
    <p>This endpoint does not accept any parameters.</p>

    <h3>Response</h3>
    <p>Upon successful execution, the endpoint returns a JSON array containing information about each all demon Slayer Character.</p>

    <h4>Example response:</h4>
    <pre><code>
    [
        {
            "name": "Tanjiro Kamado",
            "id": "001",
            "race": "Human",
            "affiliation": "Kamado Family, Demon Slayer Corps",
            "skill": "Water Breathing and Sun Breathing",
            "quote": "I'll carry the weight of sadness for those who've died.",
            "info":"Tanjiro Kamado is the main protagonist of Demon Slayer: Kimetsu no Yaiba.
                    He is a Demon Slayer in the Demon Slayer Corps, who joined to find a remedy
                    to turn his sister, Nezuko Kamado, back into a human and to hunt down 
                    and kill demons, and later swore to defeat Muzan Kibutsuji, 
                    the King of Demons, in order to prevent others from suffering the 
                    same fate as him.",
            "gender":"Male",
            "height":"165 cm",
            "weight":"61 kg",
            "birthday":"July 14th",
            "thumbnail":"https://i.ibb.co/jrDVcYR/Tanjiro-Anime-Profile.webp",
            "image":"https://i.ibb.co/qDvFWYy/Tanjiro-Kamado-Full-Body-29.webp"
          }
    ]
</code></pre>
    </article>