<div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary d-flex flex-wrap">
    <div class="col-lg-6 px-0">
      <h1 class="display-4 fst-italic">Welcome to the Demon Slayer API</h1>
      <p class="lead my-3">Welcome to the Demon Slayer API, your gateway to the captivating world of Demon Slayer: Kimetsu no Yaiba. Dive into the rich lore, characters, and adventures of this beloved anime series through our comprehensive API.</p>
      <p class="lead mb-0 text-body-emphasis fw-bold">Explore the World of Demon Slayer Anime</p>
    </div>
    <div>
      <img class="img-fluid" src="/hero-image.webp" width='600px'>
      </div>
  </div>