<div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary-emphasis">API - Docs</strong>
          <h3 class="mb-0">Hashira</h3>
          <p class="card-text mb-auto">Hashira is the highest rank which Demon Slayers can obtain in the Demon Slayer Corps. Those who hold the position are regarded as the most powerful and skilled combatants in the entire organization.</p>
          <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
            Click here for docs.
          </a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img" width="200" height="250" src="/hashira (1).png" style="background-size: cover;"></img>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success-emphasis">API - Docs</strong>
          <h3 class="mb-0">Demons</h3>
          <p class="mb-auto">Demons are an ancient race of monstrous and malevolent beings and the central antagonists of Demon Slayer: Kimetsu no Yaiba.</p>
          <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
            Click here for docs.
          </a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img" width="200" height="250" src="/hashira (2).png" style="background-size: cover;"></img>
        </div>
      </div>
    </div>
  </div>